.site-logo {
    float: left;
    margin: .5em .5em .5em .5em;
    line-height: 0!important;
}
.site-brand{
    width: 300px;
    height: 160px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -80px;
}
.site-brand_logo{
    width: 110px;
    height: 110px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -65px;
    margin-top: -65px;
}
.home {
    height: 100vh;
    background-image:
    linear-gradient(
            #C3ACC4,#E5B2BC, #F4D3B5,#F7EEB9,#C0E0E8,#4D99A2
    );
}


.navbar{
    width: 100%;
    position: absolute;
    background-color: rgba(100,100,0,.1);
}

.home #container {
    position: relative;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
    .home #container .ocean {
        margin: 0 0 15vh -20%;
        position: absolute;
        bottom: 0px;
    }
        .home #container .ocean .sea:nth-child(1) {
            z-index: 0;
        }
        .home #container .ocean .sea:nth-child(2) {
            z-index: 90;
            margin-top: 15px;
        }
        .home #container .ocean .sea:nth-child(3) {
            z-index: 100;
            margin-top: 18px;
        }
    /* TODO: adjust different ocean layer position */
    .home #container .lighthouse {
        margin: 0 0 15vh 50px;
        position: absolute;
        bottom: 450px;
        z-index: 5;
    }
    .home #container .lighthouse .lighthouse {

    }

/*** TODO: DELETE ***/
.scene {
    padding: 0;
    margin: 0 0 20px -20%;
    transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative;
    width: 120%;
}

    .scene li {
        width:100vh;
        height:100vh;
        padding:1em;
        margin: .3em;
    }
    .scene li:nth-child(1) {
        margin: 1em;
        margin-top:550px;
    }

    .scene li:nth-child(2) {
        margin: 1em;
        /*margin-top: -411px;*/
        margin-left:20%
    }
    .scene li:nth-child(3) {
        margin: 1em;
        /*margin-top: 15px;*/
    }

    .scene li:nth-child(4) {
        margin: 1em;
        /*margin-top: 18px;*/
    }
/*** DELETE ***/


.section2 {
    height: 100vh;
    background-color: #419641;
}



