.site-logo {
    float: left;
    margin: .5em .5em .5em .5em;
    line-height: 0!important;
}
.site-brand{
    width: 300px;
    height: 160px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -80px;
}
.site-brand_logo{
    width: 110px;
    height: 110px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -65px;
    margin-top: -65px;
}

.carolineName {
    position: absolute;
    margin-top: 30px;
    margin-left: 85px;
    color: #ABC7C0;
    font-size: xx-large;
}
.carolinePosition{
    position: absolute;
    margin-top: 69px;
    margin-left: 80px;
    color: #EAEAEA;
    font-size: small;
}
.navbar{
    width: 100%;
    background-color: rgba(100,100,0,.1);
}
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #dddddd;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #dddddd; /*Sets the text hover color on navbar*/
}
@-webkit-keyframes sunset {
    0%   { background-size: 100% 100%; }
    100% { background-size: 100% 500%; }
}

@-webkit-keyframes nightStars {
    0%   { opacity: 0.0; }
    20%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}


.gradient {
    height: 90vh;
    background-color: white;
    background-image: -webkit-radial-gradient(
            50% 105%, circle cover,
            #934f44 0%,
            #d4844e 12%,
            #d9a96e 24%,
            #F7EEB9 38%,
            #E5B2BC 50%,
            #C3ACC4 62%,
            #666283 75%,
            #535479 82%,
            #3c4169 88%,
            #2d345e 93%,
            #091b41 100% );
    background-size: 100% 100%;
    -webkit-animation: sunset 15.0s linear;
    -webkit-animation-delay: 1.0s;
    animation-fill-mode: forwards;
    overflow: hidden;
    position: relative;
}

.gradient:before { /* center the content */
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100vh;
    margin-right: -0.25em;
}

.gradient #container .ocean {
    margin: 0 0 9vh -10%;
    position: absolute;
    bottom: 0px;

}
.gradient #container .ocean .sea:nth-child(1) {
    z-index: 90;

}
.gradient #container .ocean .sea:nth-child(2) {
    z-index: 4;
    margin-top: -9px;

}
.gradient #container .ocean .sea:nth-child(3) {
    z-index: 100;
    margin-top: 5px;

}
/* TODO: adjust different ocean layer position */
@media screen and (min-width: 756px) {
    .gradient #container .lighthouse {
        margin: 0 0 10vh 35px;
        position: absolute;
        bottom: 450px;
        z-index: 5;

    }
}
.gradient #container .boat {
    margin: 0 0 10vh 390px;
    position: absolute;
    bottom: 80px;
    z-index: 6;

}

.gradient #container .chicagoSkyline {
    margin: 0 0 10vh 65vh;
    position: absolute;
    bottom: 260px;
    z-index: -2;

}

.undersea{
    height: 110vh;
    background-image:
    linear-gradient(
    #74C8EC,#1A58A8
    );
    background-color: #74C8EC;
}



.stars{
    transform:perspective(500px);
    transform-style:preserve-3d;
    position:absolute;
    bottom:0;
    perspective-origin:50% 100%;
    left:50%;
    animation:rotate 90s infinite linear;
}
.star{
    width:2px;
    height:2px;
    background:#F7F7B6;
//border-radius:100%;
    position:absolute;
    top:0;
    left:0;
    transform-origin:0 0 -300px;
    transform:translate3d(0,0,-300px);
    backface-visibility:hidden;
}

@keyframes rotate{
    0%{
        transform:perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }
    100%{
        transform:perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}
@keyframes myfirst
{
    0% {margin-left: -235px;margin-top:100vh;}
    70% {margin-left: 100%;margin-top:100vh;}
    100% {margin-left: 100%;margin-top:100vh;}
}
.fish{
    background-image: url(../image/fish.png);
    width: 235px;
    height: 104px;
    margin-left: -235px;
    position: absolute;
    animation: myfirst 12s;
    -webkit-animation: myfirst 12s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

#fish{
    top: 560px;

}

#fish2{
    top: 220px;
    animation-delay: 6s;
    -webkit-animation-delay: 6s;

}


.undersea .whale * {
    position: absolute;
}
.undersea .whale *:before,
.undersea .whale *:after {
    content: "";
    display: block;
    position: absolute;
}
.undersea .whale {
    position: absolute;
    background: #8596ad;
    width: 200px;
    height: 110px;
    border-radius: 70px 8px 70px 0;
    margin-top: 100px;
    margin-left: 300px;
}
.undersea .whale .eye {

    width: 20px;
    height: 20px;
    background: #fff;
    top: 25px;
    right: 90px;
    border-radius: 100%;
}
.undersea .whale .eye:after {
    height: 10px;
    width: 10px;
    background: #000;
    border-radius: 100%;
    top: 2px;
    left: 8px;
}
.undersea .whale .mouth {
    right: 0;
    top: 20px;
    width: 80px;
    height: 90px;
    background: #ddd;
    border-top-left-radius: 70px 50px;
    border-bottom-right-radius: 65px;
    border-top: 4px solid #000;
    border-left: 2px solid #000;
    box-sizing: border-box;
}
.undersea .whale .mouth:before {
    height: 55px;
    width: 50px;
    background: #ddd;
    right: 100%;
    bottom: 0;
    border-radius: 50px 0 0 0;
}
.undersea .whale .mouth:after {
    height: 20px;
    width: 30px;
    top: 13px;
    right: 71px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom: 3px solid #000;
    -webkit-transform: rotate(-20deg);
    display: none;
}
.undersea .whale .mouth .corner {
    height: 30px;
    width: 30px;
    background: #ddd;
    top: 28px;
    right: 68px;
}
.undersea .whale .mouth .corner:after {
    height: 20px;
    width: 40px;
    background: #8596ad;
    top: -11px;
    left: -13px;
    border-bottom-right-radius: 100%;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    clip: rect(0, 38px, 23px, 0);
}
.undersea .whale .mouth .lines {
    left: -47px;
    bottom: 0px;
    overflow: hidden;
    height: 90px;
    width: 125px;
    border-bottom-right-radius: 65px;
}
.undersea .whale .mouth .lines .line {
    height: 100px;
    width: 30px;
    border-right: 4px solid rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 100%;
    bottom: -4px;
}
.undersea .whale .mouth .lines .l1 {
     height: 49px;
     left: 0px;
 }
.undersea .whale .mouth .lines .l2 {
    height: 64px;
    left: 22px;
}
.undersea .whale .mouth .lines .l3 {
    height: 78px;
    left: 44px;
}
.undersea .whale .mouth .lines .l4 {
    height: 86px;
    left: 66px;
}
.undersea .whale .mouth .lines .l5 {
    height: 80px;
    left: 87px;
    bottom: 3px;
}
.undersea .whale .pectoral-fin {
    background: #5c6f89;
    height: 35px;
    width: 35px;
    right: 135px;
    top: 55px;
    border-radius: 20px 0 20px 0;
}
.undersea .whale .dorsal-fin {
    background: #8596ad;
    height: 22px;
    width: 25px;
    left: -13px;
    top: 50px;
    border-radius: 15px 0 0 0;
    display: none;
}
.undersea .whale .tail-fins {
    left: -35px;
    top: 85px;
    width: 60px;
}
.undersea .whale .tail-fins:before, .whale .tail-fins:after {
    background: #8596ad;
}
.undersea .whale .tail-fins:before {
    height: 25px;
    width: 55px;
    left: 0px;
    top: 0px;
    border-radius: 20px 0 0 3px;
}
.undersea .whale .tail-fins:after {
    height: 55px;
    width: 25px;
    right: 0px;
    top: 5px;
    border-radius: 0 0 20px 3px;
}
.undersea .whale .spout {
    background: #5c6f89;
    background: rgba(0, 0, 0, 0.5);
    height: 6px;
    width: 16px;
    border-radius: 100%;
    left: 60px;
    top: 2px;
    opacity: 1;
}
.undersea .whale .spout .spray {
    border-top: 60px dashed rgba(115, 204, 255, 0.7);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    height: 0;
    width: 10px;
    border-radius: 14px;
    top: -56px;
    left: -11px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .whale .spout .spray {
        border-top: 60px solid rgba(115, 204, 255, 0.7);
    }
}
.whale .spout .puff1,
.whale .spout .puff2,
.whale .spout .puff3 {
    background: #87d3ff;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.2);
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-left: -15px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.whale .spout .puff1 {
    top: -75px;
    left: 8px;
    -webkit-animation: puff-movement .7s .15s infinite;
    animation: puff-movement .7s .15s infinite;
}
.whale .spout .puff2 {
    top: -67px;
    left: -12px;
    -webkit-animation: puff-movement .8s .3s infinite;
    animation: puff-movement .8s .3s infinite;
}
.whale .spout .puff3 {
    top: -67px;
    left: 28px;
    -webkit-animation: puff-movement .6s infinite;
    animation: puff-movement .6s infinite;
}
.whale .spout .drop1,
.whale .spout .drop2,
.whale .spout .drop3 {
    background: #87d3ff;
    border-radius: 15px;
    opacity: 0;
}
.whale .spout .drop1,
.whale .spout .drop3 {
    height: 11px;
    width: 11px;
}
.whale .spout .drop1 {
    border-bottom-right-radius: 0;
    top: -65px;
    left: -12px;
    -webkit-animation: drop1-movement 1.15s .2s infinite;
    animation: drop1-movement 1.15s .2s infinite;
}
.whale .spout .drop2 {
    border-bottom-left-radius: 0;
    top: -65px;
    left: 0px;
    height: 13px;
    width: 13px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: drop2-movement 1.2s .4s infinite;
    animation: drop2-movement 1.2s .4s infinite;
}
.whale .spout .drop3 {
    border-bottom-left-radius: 0;
    top: -65px;
    left: 16px;
    -webkit-animation: drop3-movement 1.1s infinite;
    animation: drop3-movement 1.1s infinite;
}

@-webkit-keyframes puff-movement {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: -6px;
    }
    100% {
        margin-top: 0px;
    }
}
@keyframes puff-movement {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: -6px;
    }
    100% {
        margin-top: 0px;
    }
}
@-webkit-keyframes drop1-movement {
    0% {
        top: -65px;
        left: -9px;
        opacity: .6;
    }
    40% {
        opacity: .6;
    }
    80% {
        opacity: 0;
    }
    100% {
        top: -100px;
        left: -32px;
        opacity: 0;
    }
}
@keyframes drop1-movement {
    0% {
        top: -65px;
        left: -9px;
        opacity: .6;
    }
    40% {
        opacity: .6;
    }
    80% {
        opacity: 0;
    }
    100% {
        top: -100px;
        left: -32px;
        opacity: 0;
    }
}
@-webkit-keyframes drop2-movement {
    0% {
        top: -65px;
        opacity: .6;
    }
    40% {
        opacity: .6;
    }
    80% {
        opacity: 0;
    }
    100% {
        top: -120px;
        opacity: 0;
    }
}
@keyframes drop2-movement {
    0% {
        top: -65px;
        opacity: .6;
    }
    40% {
        opacity: .6;
    }
    80% {
        opacity: 0;
    }
    100% {
        top: -120px;
        opacity: 0;
    }
}
@-webkit-keyframes drop3-movement {
    0% {
        top: -65px;
        left: 13px;
        opacity: .6;
    }
    40% {
        opacity: .6;
    }
    80% {
        opacity: 0;
    }
    100% {
        top: -100px;
        left: 36px;
        opacity: 0;
    }
}
@keyframes drop3-movement {
    0% {
        top: -65px;
        left: 13px;
        opacity: .6;
    }
    40% {
        opacity: .6;
    }
    80% {
        opacity: 0;
    }
    100% {
        top: -100px;
        left: 36px;
        opacity: 0;
    }
}

.browserFrame {
    position: absolute;
    /*cursor: pointer;*/
    /*width: 120vh;*/
    /*margin-top: 200px;*/
    /*margin-left: 10%;*/
    /*height: 80vh;*/
    /*border-radius: 15px;*/
}
.browserFrame img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.iphoneFrame {
    position: absolute;
    /*font-size: 26px;*/
    /*cursor: pointer;*/
    /*width: 120vh;*/
    /*margin-top: 190px;*/
    /*margin-left: 70%;*/
    /*height: 80vh;*/
    /*border-radius: 15px;*/

}
.iphoneFrame img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.carousel-inner  .item  img,
 .carousel-inner  .item  a  img {
     margin: 69px 11px auto 11px;
 }

.container.websiteContainer {
    position: absolute;
    margin: 190px 0 auto 0;
    /*margin-left:40%*/
    /*width:442px;*/
}
.carousel-control.websiteContainer {
    height: 20%;
    margin: 190px 0 auto 0;
}
.carousel-control.websiteContainer.right {
    right: 0;
    left: 86%;
}
@media (max-width: 768px) {
    .container.websiteContainer {
        visibility: hidden;
    }
}

@media (min-width: 768px) {
    .container.websiteContainer {
        width: 590px;
        margin-left:5%;
    }
    .browserFrame img{
        width: 590px;
    }
}
@media (min-width: 992px) {
    .container.websiteContainer {
        width: 790px;
        margin-left:5%;
    }
    .browserFrame img{
        width: 790px;
    }
}
@media (min-width: 1200px) {
    .container.websiteContainer {
        width: 890px;
        margin-left:5%;
    }
    .browserFrame img{
        width: 890px;
    }
}

.carousel-control.phoneContainer {
    height: 10%;
    margin: 239px 0 auto 0;
}
.carousel-control.phoneContainer.right {
    right: 0;
    left: 90%;}
.container.phoneContainer {
    position: absolute;
    margin: 150px 0 auto 0;
    /*margin-left:40%*/
    /*width:442px;*/
}

@media (max-width: 768px) {
    .container.phoneContainer {
        position: absolute;
        width: 290px;
        margin-left: 10%;
    }
    .iphoneFrame img{
        width: 290px;
    }
}

@media (min-width: 768px) {
    .container.phoneContainer {
        width: 290px;
        margin-left:70%;
    }
    .iphoneFrame img{
        width: 290px;
    }
}
@media (min-width: 992px) {
    .container.phoneContainer {
        width: 290px;
        margin-left:70%;
    }
    .iphoneFrame img{
        width: 290px;
    }
}
@media (min-width: 1200px) {
    .container.phoneContainer {
        width: 290px;
        margin-left:70%;
    }

}
.undersea2{
    height: 100vh;
    background-image:
    linear-gradient(
            #1A58A8,#2270C8,#0B357D
    );
    background-color: #1A58A8;
}
.undersea2 .octopus{
    position: absolute;
    margin-top: 300px;
    margin-left: 200px;
}


.undersea2 .content {
    width: 390px;
    height: 390px;
    position: absolute;
    margin-top: 195px;
    margin-left: 130px;
    -webkit-animation: rotateContent 5s linear infinite;
    animation: rotateContent 5s linear infinite;
}

.circle {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    /*-webkit-animation: rotateContent 25s linear infinite;*/
    /*animation: rotateContent 25s linear infinite;*/
    -webkit-transform: translate3D(-139px, 0, 0);
    transform: translate3D(-139px, 0, 0);
}

.circle-container {
    position: absolute;
    margin-top: 175px;
    margin-left: 175px;
}


.circle-container.color1 .circle {
    background: rgba(255, 214, 70, 1);
}

.circle-container.color2 .circle {
    background: rgba(203, 102, 43, 1);
}

.circle-container.color3 .circle {
    background: rgba(80, 149, 144, 1);
}

.circle-container.color4 .circle {
    background: rgba(98, 64, 146, 1);
}

.circle-container-1 {


}
 /*.circle-container-2 {*/

    /*-webkit-transform: rotate(24deg);*/
    /*transform: rotate(24deg);*/

/*}*/

 .circle-container-3 {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);

}

/*.circle-container-4 {*/
    /*-webkit-transform: rotate(72deg);*/
    /*transform: rotate(72deg);*/
/*}*/

.circle-container-5 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);

}

/*.circle-container-6 {*/
    /*-webkit-transform: rotate(120deg);*/
    /*transform: rotate(120deg);*/

/*}*/

.circle-container-7 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

}

/*.circle-container-8 {*/
    /*-webkit-transform: rotate(168deg);*/
    /*transform: rotate(168deg);*/
/*}*/

.circle-container-9 {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
}

/*.circle-container-10 {*/
    /*-webkit-transform: rotate(216deg);*/
    /*transform: rotate(216deg);*/
/*}*/

.circle-container-11 {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
}

/*.circle-container-12 {*/
    /*-webkit-transform: rotate(264deg);*/
    /*transform: rotate(264deg);*/
/*}*/

/*.circle-container-13 {*/
    /*-webkit-transform: rotate(288deg);*/
    /*transform: rotate(288deg);*/
/*}*/

/*.circle-container-14 {*/
    /*-webkit-transform: rotate(312deg);*/
    /*transform: rotate(312deg);*/
/*}*/

/*.circle-container-15 {*/
    /*-webkit-transform: rotate(336deg);*/
    /*transform: rotate(336deg);*/
/*}*/



@-webkit-keyframes rotateContent {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*skillbar*/
.skillbars
{
    position: absolute;
    margin-top: 190px;
    margin-left: 630px;
    width:40%;
}
.skillbar {
    position:relative;
    display:block;
    margin-top: 20px;

    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:110px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}