.site-logo {
    float: left;
    margin: .5em .5em .5em .5em;
    line-height: 0!important;
}
.site-brand{
    width: 300px;
    height: 160px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -80px;
}
.site-brand_logo{
    width: 110px;
    height: 110px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -65px;
    margin-top: -65px;
}


.navbar{
    width: 100%;
    background-color: rgba(100,100,0,.1);
}




@-webkit-keyframes sunset {
    0%   { background-size: 100% 100%; }
    100% { background-size: 100% 500%; }
}

@-webkit-keyframes nightStars {
    0%   { opacity: 0.0; }
    20%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}


.gradient {
    height: 90vh;
    background-color: white;
    background-image: -webkit-radial-gradient(
            50% 105%, circle cover,
            #934f44 0%,
            #d4844e 12%,
            #d9a96e 24%,
            #F7EEB9 38%,
            #E5B2BC 50%,
            #C3ACC4 62%,
            #666283 75%,
            #535479 82%,
            #3c4169 88%,
            #2d345e 93%,
            #091b41 100% );
    background-size: 100% 100%;
    -webkit-animation: sunset 15.0s linear;
    -webkit-animation-delay: 1.0s;
    animation-fill-mode: forwards;
    overflow: hidden;
    position: relative;
}

.gradient:before { /* center the content */
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100vh;
    margin-right: -0.25em;
}

.gradient #container .ocean {
    margin: 0 0 9vh -10%;
    position: absolute;
    bottom: 0px;

}
.gradient #container .ocean .sea:nth-child(1) {
    z-index: 90;

}
.gradient #container .ocean .sea:nth-child(2) {
    z-index: 4;
    margin-top: -9px;

}
.gradient #container .ocean .sea:nth-child(3) {
    z-index: 100;
    margin-top: 5px;

}
/* TODO: adjust different ocean layer position */
.gradient #container .lighthouse {
    margin: 0 0 10vh 35px;
    position: absolute;
    bottom: 450px;
    z-index: 5;

}

.gradient #container .boat {
    margin: 0 0 10vh 390px;
    position: absolute;
    bottom: 80px;
    z-index: 6;

}

.gradient #container .chicagoSkyline {
    margin: 0 0 10vh 65vh;
    position: absolute;
    bottom: 260px;
    z-index: -2;

}

.undersea{
    height: 115vh;
    background-image:
    linear-gradient(
    #74C8EC,#1A58A8
    );
    background-color: #74C8EC;
}

.stars{
    transform:perspective(500px);
    transform-style:preserve-3d;
    position:absolute;
    bottom:0;
    perspective-origin:50% 100%;
    left:50%;
    animation:rotate 90s infinite linear;
}
.star{
    width:2px;
    height:2px;
    background:#F7F7B6;
//border-radius:100%;
    position:absolute;
    top:0;
    left:0;
    transform-origin:0 0 -300px;
    transform:translate3d(0,0,-300px);
    backface-visibility:hidden;
}

@keyframes rotate{
    0%{
        transform:perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }
    100%{
        transform:perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}


